{% extends 'base_layout.html' %}

{% block content %}
    <div class="create-article">
        <h2>Create article</h2>
        <!-- Below 'enctype' is for encoding form data when we upload file -->
        <!-- Whenever we have upload button we have 'enctype' -->
        <form class="site-form" action="{% url 'app1:create' %}" method="POST" enctype="multipart/form-data">
            <!-- Below 'form' is the key in dictionary -->
            {% csrf_token %}
            {{ form }}
            <!-- Now this form will send POST request to views.py -->
            <input type="submit" value='Create'>
        </form>
    </div>
{% endblock %}